<!DOCTYPE html>
<html lang="en" ng-app="shopular">
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link rel="stylesheet" href="lib/styles/reset.css">
    <link rel="stylesheet" href="lib/styles/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Montserrat|Lobster|Pacifico" rel="stylesheet">
  </head>
  <body ng-controller="shopCtrl as shop">
    <main>
      <div id="new-item-modal" ng-show="showForm">
        <div class="modal-content">
          <h1>Add New Item</h1>
          <div ng-click="showForm = false;" id="exit-button"></div>
            <form name="shop.newItemForm" ng-submit="shop.addNewItem()" novalidate>
              <!-- NAME -->
              <div class="form-group" >
                <label>Name</label>
                <input type="text"
                name="name"
                class="form-control"
                ng-minlength="1"
                ng-model="shop.newItem.name"
                required/>
              </div>
              <!-- PRICE -->
              <div class="form-group">
                <label>Price</label>
                <input type="number"
                min="0"
                name="price"
                class="form-control"
                ng-model="shop.newItem.price"
                required/>
              </div>
              <!-- DISCOUNT -->
              <div class="form-group">
                <label>Discount</label>
                <input type="number"
                min="0"
                name="discount"
                class="form-control"
                ng-model="shop.newItem.discount"
                required/>
              </div>
              <!-- QUANTITY -->
              <div class="form-group">
                <label>Quantity</label>
                <input type="number"
                min="0"
                name="quantity"
                class="form-control"
                ng-model="shop.newItem.quantity"
                required/>
              </div>
              <!-- COLOR -->
              <div class="form-group">
                <label>Color</label>
                <input type="text"
                name="color"
                class="form-control"
                ng-model="shop.newItem.color"
                required/>
              </div>

              <input type="submit"
              id="submit"
              value="Submit"
              ng-click="showForm=false;"
              ng-disabled="shop.newItemForm.$invalid"/>
            </form>
          </div>
        </div>

      <div ng-click="shop.toggleLocale()" id="currency-button" ng-hide="showForm"></div>
      <div ng-click="showForm = !showForm;" id="add-button" ng-hide="showForm"></div>
      <h1 ng-hide="showForm">Shopular</h1>
      <table>
        <thead>
          <tr class='table-header'>
            <th ng-click="shop.sortBy('name')"><h2>Name</h2></th>
            <th ng-click="shop.sortBy('price - discount')"><h2>Price</h2></th>
            <th ng-click="shop.sortBy('quantity')"><h2>Quantity</h2></th>
            <th ng-click="shop.sortBy('color')"><h2>{{shop.locale === 'US' ? 'Color' : 'Colour'}}</h2></th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in shop.allItems | orderBy: shop.columnSort : shop.reverse " ng-class="{'odd-row': !($index%2), 'even-row': ($index%2)}">

            <td ng-hide="editing" class="item-name">{{shop.itemName(item)}}</td>
            <td ng-show="editing" ng-blur="editing = false;"><input ng-change="item.edited = true" ng-model="item.name" type="text"></input></td>

            <td ng-hide="editing" class="item-price">{{shop.priceOf(item)}}<img class="discount-icon" ng-show="{{shop.isDiscounted(item)}}"></img></td>
            <td ng-show="editing" ng-blur="editing = false;"><input  ng-model="item.price" type="text"></input></td>

            <td ng-hide="editing" class="item-quantity">{{item.quantity}}</td>
            <td ng-show="editing" ng-blur="editing = false;"><input ng-model="item.quantity" type="text"></input></td>

            <td ng-hide="editing" class="item-color">{{item.color}}
            <td ng-show="editing" ng-blur="editing = false;"><input ng-model="item.color" type="text"></input></td>
            <td ng-click="editing = !editing"><img class="edit-icon"></img></td>
          </tr>
        </tbody>
      </table>


    </main>
    <script src="src/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="src/js/app.js"></script>
  </body>
</html>
