<!DOCTYPE html>
<html lang="en" ng-app="shopular">
  <head>
    <meta charset="utf-8">
    <title>Shopular</title>
    <link rel="stylesheet" href="lib/styles/reset.css">
    <link rel="stylesheet" href="lib/styles/main.min.css">
    <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Montserrat|Lobster|Pacifico" rel="stylesheet">
  </head>
  <body ng-controller="shopCtrl as shop">
    <main>
      <div ng-click="shop.toggleLocale()" id="currency-button"></div>
      <h1>Shopular</h1>
      <table>
        <thead>
          <tr class='table-header'>
            <th>Name</th><th>Price</th><th>Quantity</th><th>{{shop.locale === 'US' ? 'Color' : 'Colour'}}</th><th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in shop.allItems" ng-class="{'odd-row': !($index%2), 'even-row': ($index%2)}">

            <td ng-hide="editing" class="item-name">{{shop.itemName(item)}}</td>
            <td ng-show="editing" ng-blur="editing = false;"><input ng-change="item.edited = true" ng-model="item.name" type="text"></input></td>

            <td ng-hide="editing" class="item-price">{{shop.priceOf(item)}}<img class="discount-icon" ng-show="{{shop.isDiscounted(item)}}"></img></td>
            <td ng-show="editing" ng-blur="editing = false;"><input  ng-model="item.price" type="text"></input></td>

            <td ng-hide="editing" class="item-quantity">{{item.quantity}}</td>
            <td ng-show="editing" ng-blur="editing = false;"><input ng-model="item.quantity" type="text"></input></td>

            <td ng-hide="editing" class="item-color">{{item.color}}
            <td ng-show="editing" ng-blur="editing = false;"><input ng-model="item.color" type="text"></input></td>
            <td ng-click="editing = !editing"><img class="edit-icon"></img></td>
          </tr>
        </tbody>
      </table>

      <div>
        <form name="shop.newItemForm" ng-submit="shop.addNewItem()" novalidate>
          <!-- NAME -->
          <div class="form-group" >
            <label>Name</label>
            <input type="text"
              name="name"
              class="form-control"
              ng-model="shop.newItem.name"
              required/>
          </div>
          <!-- PRICE -->
          <div class="form-group">
            <label>Price</label>
            <input type="text"
            name="price"
            class="form-control"
            ng-model="shop.newItem.price"
            required/>
          </div>
            <!-- DISCOUNT -->
          <div class="form-group">
            <label>Discount</label>
            <input type="text"
            name="discount"
            class="form-control"
            ng-model="shop.newItem.discount"
            required/>
          </div>
          <!-- QUANTITY -->
          <div class="form-group">
            <label>Quantity</label>
            <input type="text"
            name="quantity"
            class="form-control"
            ng-model="shop.newItem.quantity"
            required/>
          </div>
          <!-- COLOR -->
          <div class="form-group">
            <label>Color</label>
            <input type="text"
            name="color"
            class="form-control"
            ng-model="shop.newItem.color"
            required/>
          </div>

          <input type="submit" id="submit" value="Submit" ng-disabled="shop.newItemForm.$invalid"/>
        </form>
      </div>

    </main>
    <script src="src/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="src/js/app.js"></script>
  </body>
</html>
