h1 {
  color: $dark-grey;
  font-family: 'Pacifico', 'Lobster', serif;
  font-size: 60px;
  margin-top: 2%;
  text-align: center;
  z-index: 5;
}
h2 {
  transition: all .5s ease;
  &:hover {
    color: $hover-red;
    transform: scale(1.3);
  }
