$highlight-row: rgb(245, 247, 248);
$dark-grey: #333;

h1 {
  font-family: 'Pacifico', 'Lobster', serif;
  font-size: 60px;
  text-align: center;
  z-index: 5;
  color: $dark-grey;
  margin-top: 2%;
}
table {
  width: 80vw;
  margin: 0 10vw;
  border: 1px double $dark-grey;
  outline: 2px solid $dark-grey;
  outline-offset: 5px;
  thead {
    width: 100%;
    background-color: $highlight-row;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    &:after {
      content: '';
      position: absolute;
      width: 70%;
      left: 15%;
      height: 1px;
      background: grey;
    }
    th {
      height: 40px;
    }
  }
}
tbody {
  width: 100%;
  tr {
    width: 100%;
    height: 40px;
    .item-name {
      text-align: left;
      padding-left: 3%;
    }
    &.even-row {
      background-color: $highlight-row;
    }
    td, th {
      width: 100%;
      text-align: center;
      flex-grow: 1;
      padding: none;
      border: none;
      font-family: Montserrat;
    }
    td {
      width: 25%;
      font-size: 14px;
    }
  }
}
img {
  content: url('../../../images/discount.png');
  height: 20px;
  width: 20px;
  margin-left: 5%;
  background-size: contain;
}
.currency-button {
  position: absolute;
  right: 2%;
  top: 1%;
  color: $dark-grey;
  content: url('../../../images/currency.png');
  height: 50px;
}
