$highlight-row: rgb(245, 247, 248);
$dark-grey: #333;
body {
  perspective: 3000px;
}
h1 {
  font-family: 'Pacifico', 'Lobster', serif;
  font-size: 60px;
  text-align: center;
  z-index: 5;
  color: $dark-grey;
  margin-top: 2%;
}
table {
  width: 80vw;
  margin: 0 10vw;
  border: 1px double $dark-grey;
  outline: 2px solid $dark-grey;
  outline-offset: 5px;
  thead {
    width: 100%;
    background-color: $highlight-row;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    &:after {
      content: '';
      position: absolute;
      width: 70%;
      left: 15%;
      height: 1px;
      background: grey;
    }
    th {
      height: 40px;
      cursor: pointer;
      h2 {
        transition: all .5s ease;
        &:hover {
          color: rgb(133, 44, 44);
          transform: scale(1.3);
        }
      }
      &:last-of-type {
        padding-right: 2%;
      }
    }
  }
}
tbody {
  width: 100%;
  tr {
    width: 100%;
    height: 40px;
    .item-name {
      text-align: left;
      padding-left: 3%;
    }
    &.even-row {
      background-color: $highlight-row;
    }
    td, th {
      width: 100%;
      text-align: center;
      flex-grow: 1;
      padding: none;
      border: none;
      font-family: Montserrat;
    }
    td {
      width: 25%;
      font-size: 14px;
    }
  }
}
img {
  &.discount-icon {
    content: url('../../images/discount.png');
    height: 20px;
    width: 20px;
    margin-left: 5%;
    background-size: contain;
  }
  &.edit-icon {
    content: url('../../images/edit.png');
    padding-right: 4%;
  }
}
#currency-button {
  position: absolute;
  right: 10%;
  top: 0%;
  content: url('../../images/currency.png');
  height: 50px;
  transition: all 1s ease;
  cursor: pointer;
  transform-style: preserve-3d;
  &.spin {
    transform: rotateX(180deg);
  }
}
#add-button {
  position: absolute;
  top: 0%;
  left: 10%;
  content: url('../../images/add.png');
  height: 50px;
}
input {
  height: 100%;
  width: 80%;
}
#new-item-modal {
  background: rgba(245, 247, 248, .8);
  height: 110vh;
  margin-top: -5vh;
  position: absolute;
  width: 100%;
  .modal-content {
    background: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh 15vw;
    width: 70vw;
    h1 {
      margin-top: 3%;
      width: 100%;
    }
    #exit-button {
      content: url(../../images/exit.png);
      height: 25px;
      position: absolute;
      right: 17%;
      top: 13%;
      width: 25px;
      z-index: 999;
    }
    form {
      margin: 3% 15%;
      width: 70%;
      text-align: center;
      .ng-invalid.ng-dirty {
        background: rgba(195, 0, 17, 0.72);
      }
      label {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
      input {
        border-style: none;
        font-size: 14px;
        height: 25px;
        margin: 5px;
        outline: none;
        text-align: center;
        width: 100%;
      }
      #submit {
        background: $dark-grey;
        border-style: none;
        color: white;
        font-size: 15px;
        height: 40px;
        margin: 20px;
        text-transform: uppercase;
        transition: all 1s ease;
        width: 60%;
        &:hover {
          background: #204c47;
          transform: scale(1.1);
        }
      }
    }
  }
}
